.footer {
    background-color: #454851;

    li {
        list-style: none;
    }

    a {
        text-decoration: none;
        text-transform: uppercase;
        color: white;
    }

    .footer-menu {
        display: flex;
        flex-wrap: wrap-reverse;
    }
}